* {
    box-sizing: border-box;
}

.apexcharts-legend-text {
    padding-left: 15px !important;
    margin-left: -10px !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}