* {
    box-sizing: border-box;
}

.apexcharts-legend-text {
    padding-left: 15px !important;
    margin-left: -10px !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}